<div id="landing-page">
  <div id="container">
    <div id="list-guide">
      <ul id="list"></ul>
    </div>
    <form id="item-form" autocomplete="off">
      <div id="first-row">
        <input
          class="input"
          id="todo"
          type="text"
          placeholder="Enter Todo Item"
        />
        <button class="button" id="add-button">+</button>
      </div>
    </form>

    <form id="number-form" method="POST" autocomplete="off">
      <div id="second-row">
        <input
          class="input"
          id="phone-number"
          type="tel"
          name="number"
          onInput="this.value = phoneFormat(this.value)"
          placeholder="Phone Number"
        />
        <button class="button" id="send-button">
          <img id="send-icon" src="/images/send2.png" />
        </button>
      </div>
    </form>
  </div>

  <template id="list-item-template">
    <li class="list-item">
      <label class="list-item-label">
        <span class="input-item" data-list-item-input></span>
      </label>
      <button data-button-delete>❌</button>
    </li>
  </template>
</div>
