*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Libre Baskerville, sans-serif;
}

/* Styles for landing page */

::-webkit-scrollbar {
  display: none;
}

#landing-page {
  background-image: url("/images/carriergoose.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-size: 1.5rem;
}

#container {
  text-align: center;
  background-color: transparent;
  height: 300px;
  width: 500px;
  z-index: 0;
}

#list-guide {
  background-color: transparent;
  width: 500px;
  height: 260px;
  overflow: scroll;
  color: white;
  border-top: 10px;
  margin: 5px;
  margin-bottom: 20px;
}

#todo {
  width: 300px;
}

.button {
  transition-duration: 0.4;
  cursor: pointer;
  border: none;
  cursor: pointer;
}

[data-button-delete] {
  margin-left: 0.75rem;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

[data-button-delete]:hover,
#add-button:hover,
#send-button:hover,
#quiz-button:hover {
  opacity: 1;
  cursor: pointer;
}

#add-button,
#send-button {
  font-size: 1rem;
  text-align: center;
  background-color: white;
  opacity: 0.7;
  border-radius: 0.2rem;
  height: 25px;
  width: 25px;
  margin-top: 0px;
}

#send-icon {
  margin-top: 4px;
}

#phone-number,
#todo {
  border-color: rgb(126, 101, 152);
  border-radius: 1rem;
  padding: 15px;
  height: 25px;
  color: grey;
  background-color: white;
  opacity: 0.85;
}

#phone-number {
  width: 200px;
}

#todo {
  width: 300px;
}

#item-form > * {
  margin: 0.15rem;
}

.link {
  padding: 0.5rem;
}

.link:hover,
.link:focus {
  color: #777;
}

.link a {
  color: inherit;
  text-decoration: none;
}

#list {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}

.list-item {
  list-style: none;
  margin: 8px;
  opacity: 0.95;
}

#send-icon {
  width: 15px;
  height: 15px;
}
