<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script defer src="/javascripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"
      rel="stylesheet"
    />
    <title>Carrier Goose</title>
  </head>

  <body>
    <div id="landing-page">
      <div id="container">
        <div id="list-guide">
          <ul id="list"></ul>
        </div>
        <form id="item-form" method="GET" autocomplete="off">
          <input
            class="input qa"
            id="question"
            type="text"
            placeholder="Question"
          />
          <button disabled id="invisible-button">+</button>

          <input
            class="input qa"
            id="answer"
            type="text"
            placeholder="Answer"
          />
          <button type="submit" class="button" id="add-button">+</button>
        </form>

        <form id="quiz-form" autocomplete="off">
          <input
            class="input"
            id="quiz-input"
            type="text"
            placeholder="Brainscape Link"
          />
          <button type="submit" class="button" id="quiz-button">
            <img id="brainscape-logo" src="/images/brainscapelogo.png" />
          </button>
        </form>

        <form id="number-form" method="POST" autocomplete="off">
          <input
            class="input"
            id="phone-number"
            type="tel"
            onInput="this.value = phoneFormat(this.value)"
            placeholder="Phone Number"
            name="number"
          />
          <button
            type="submit"
            name="send-button"
            class="button"
            id="send-button"
          >
            <img id="send-icon" src="/images/send2.png" />
          </button>
        </form>
      </div>

      <template id="list-item-template">
        <li class="list-item" method="POST">
          <label class="list-item-label">
            <span class="question-item" data-list-item-question></span>
            <span class="answer-item" data-list-item-answer></span>
          </label>
          <button data-button-delete>❌</button>
        </li>
      </template>
    </div>

    <nav>
      <ul class="nav-list">
        <li class="link"><a href="#">How it works</a></li>
        <li class="link"><a href="#">Why it works</a></li>
      </ul>
    </nav>
  </body>
</html>
